
body{
    padding-bottom: 1000px;
}
.SUBSCRIBE{
    background-color: red;
    border: none;
    color: aliceblue;
  font-size: 15px;
  font-weight:bolder;
    height: 49px;
    width: 100px;
    border-radius: 5px;
transition: background-color 0.5s,box-shadow 0.15s;
 

}
.SUBSCRIBE:hover{
    background-color: black;
    color:brown;
}
.SUBSCRIBE:active{
   box-shadow: 10px 10px 10px blueviolet;
}
.join{
margin: 15px;
height: 30px;
width: 100px;
border-radius: 4px;
border-color: blue;
font-weight: bold;
   

}
.tweet{
background-color: blue;
border-radius: 30px;
color: aliceblue;
height: 49px;
width: 100px;
font-size: 20px;
font-weight: bold;
}
#a{
    background-color: black;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 119px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 1px;
}
#b{
    margin-left: 20px;
    height:40px;
    width: 150px;
    border: none;
    background-color: rgb(255,216,20);
    border-radius: 30px;font-size: 20px;
}
#c{
margin: 20px;
    font-size: 20px;
    font-weight: bold;
 background-color: rgb(46,164,79);
color: white;
border-radius: 5px;
border: none;
height: 50px;
width: 100px;
}
#d{
margin-left: 20px;
    font-size: 15px;
  
 background-color: rgb(121,82,179);
color: white;
border-radius: 5px;
border: none;
height: 50px;
width: 100px;
}
#e{
margin-left: 10px;
font-size: 15px;
font-weight:bold;
background-color: white;
color: rgb(108, 117, 125);
border-radius: 10px;
border-color:  rgb(108, 117, 125);
height: 40px;
width: 100px;
cursor:progress;
box-shadow:1px;
}
#f{
margin-left:24px;
color: white;
font-weight:bold;
background-color: rgb(10,102,194);
color:white  ;
border: none;
border-radius: 50px;
height: 50px;
width: 200px;
cursor:pointer;

}
#g{
margin-left:10px;
color:rgb(10,102,194);
font-weight:bold;
font-size: 20px;
background-color:white ;
border-radius: 50px;
border-color: rgb(10,102,194);
height: 50px;
width: 110px;
cursor:pointer;
}
#new{
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;

}
#Mac{
    margin-left: 29px;
}
#val{
     margin-left: 40px;
    font-weight: bold;
    color: blueviolet;
}
#buy{
    margin: 10px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-size: 3ch;

}
#buy:hover{
    text-decoration: underline;
    
}

.input{
   font-size: 20px;
   border-radius: 200px;
   height: 50px;
   width: 50;
   padding-left: 100px;
   
}
/* .name{
 display: flex;
 margin-left: 50%;
 margin-top: 20px;
 font-size: 20px;

}
.email{
display: flex;
 margin-left: 50%;
 margin-top: 20px;
  font-size: 20px;
} */
 .name,.email{
    display: flex;
 margin-left: 50%;
 margin-top: 20px;
  font-size: 20px;
  margin-bottom: 17px;
 }
 .para,.Bu{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
 }
 .y,.n{
    margin-left: 10px;
  
 }
 .N1,.N2{
  
   
      display: inline-block;
      width: 100px;
      padding: 9px;
 }
 .e1{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 212px;
    padding: 9px;
 }
 .S1{
     width: 220px;
     padding: 9px;
     background-color: blue;
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
 }
 .you{
    margin-top: 20px;
    display:inline-block;
    display: flex;
    margin-left: 10px;
 }
 .conten{
    display: inline-block;
   margin-left: 20px;
   padding-bottom: 10px;
   
 }
.image{
    width: 100px;
    border-radius: 50px;
}
.Gri{
    display: grid;
    grid-template-columns:   1fr 1fr 1fr 1fr;
    width: 100%;
    height: 500px;
    column-gap: 30px;
    row-gap: 40px;
    
}
#div1{
    background-color: blue;
    color: aliceblue;
}
#div2{
    background-color:bisque;
}
#div3{
    background-color:aqua;
}
#div4{
    background-color: blue;
    color: aliceblue;
}
#div5{
    background-color:bisque;
}
#div6{
    background-color:aqua;
}
.flex{
    display: flex;
   flex-direction: row;
   margin-top: 20px;

}
.f1{
    background-color: antiquewhite;
    width: 200px;
}
.f2{
    background-color: aquamarine;
    width: 75px;
}

.flex-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.f11{
    background-color: blueviolet;
    color: aliceblue;
}
.flex-space1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-color: black;
    border-style: solid;
    height: 40px;
    border-width: 2px;
    justify-content: space-between;
    align-items:center;
}
.f21{
    background-color: blueviolet;
    color: aliceblue;
    margin: 6px;
    
}
.flex-space3{
display: flex;
flex-direction: row;
margin-top:30px ;
}
.f31{
    background-color: aqua;
   
    width: 100px;
    
}
.f33{
    background-color: blanchedalmond;
    flex: 1;
}